*{
    margin: 0;
    padding: 0;
}
/* Header */
.Header{
    background-image: url('../Assets/Hero-bg.png');
    height: 698px;
    margin-bottom: 80px;
}
.Navigation-bar{
    max-width: 1140px;
    height: 151px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button a{
    text-decoration: none;
    color: #FFFFFF;
}
.Navigation-bar h1{
    color: #4E47FF;
    font-size: 34px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}
.Button{
    background-color: #4E47FF;
    color: #FFFFFF;
    font-size: 16px;
    width: 132px;
    height: 48px;
    border-radius: 10px;
    border: #4E47FF;
    padding: 8px;
}
.Banner{
    
    margin-top: 158px;
    align-items: center;
    text-align: center;
}
.Banner h1{
    max-width: 905px;
    max-height: 152px;
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    margin: auto;
    color: #252432;
}
.Focused-button{
    margin-top: 37px;
    width: 174px;
    height: 46px;
    font-size: 18px;
}

/* Action-section */

.Action-section{
    /* margin-top: ; */
    display: flex;
    justify-content: space-between;
    background-color: white;
    max-width: 1140px;
    max-height: 328px;
    margin: auto;
    align-items: center;
    margin-bottom: 80px;
}
.Action-section-text h1{
    font-size: 42px;
    font-weight: bold;

}
.Action-section-text p{
    width: 440px;
    height: 60px;
    font-size: 24px;
    color: #252432;
}
.Action-section-image img{
    width: 403px;
    height: 328px;
    border-radius: 50px;
}
.launch-button{
    margin-top: 15px;
    width: 229px;
    height: 48px;
    padding: 12px 36px;
}

/* Productive Users Section */

.Productive-Users-Section{
    background-color: #DCDCFC;
    max-width: 1140px;
    max-height: 306px;
    margin: auto;
    border-radius: 20px;
    padding: 50px 80px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 80px;
}
.title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.users{
    display: flex;
    gap: 158px;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.user h1{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}
.user p{
    font-size: 20px;
    color: #000000;
}